* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #1c1c1c;
  padding: 10px;
}
.calculator-window {
  width: 100%;
  max-width: 450px;
  background: #000000;
  margin: 120px auto 20px;
  padding: 40px 30px 35px;
  border-radius: 10px;
}
.display-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.display {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
}
button {
  border: none;
  outline: none;
  padding: 16px 20px;
  background: #505050;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  flex: 1;
  margin: 5px;
}
button.endbutton {
  background: #ff6600;
  color: #ffffff;
}
button.function {
  background: #a6a6a6;
  color: #000000;
}
